body {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=SF+Display:wght@400;600;900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Display', sans-serif;
  letter-spacing: 0.09rem;
}


.main-hero-content {
  position: absolute;
  top: 100px;
  left: 150px;
  display: flex;
  gap: 50px;
}

.hero-section-description {
  margin: 50px 0 0 0;
}

.category h1 {
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-weight: 600;
  font-size: 3.6rem;
  letter-spacing: 0.05em;
}

.title h1 {
  font-size: 3.6rem;
  font-weight: 900;
  letter-spacing: 0.09rem;
  line-height: 4.3rem;
  text-transform: uppercase;
}

.hero-image {
  border-radius: 20px;
}
